spring:
  application:
    name: camunda-jsonforms-demo
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jackson:
    time-zone: UTC
  datasource:
    url: "jdbc:mysql://localhost:3306/demo"
    username: demo
    password: demo
    hikari:
      transaction-isolation: 2 # READ_COMMITED
server:
  port: 8080
  # Enable response compression
  compression:
    enabled: true
    # The comma-separated list of mime types that should be compressed
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json
    # Compress the response only if the response size is at least 1KB
    min-response-size: 1024
camunda:
  bpm:
    generic-properties.properties:
      historyTimeToLive: P180D
    authorization:
      enabled: true     
    admin-user:
      id: demo
      password: demo
    database:
      type: mysql

logging:
  level:
    org.camunda.bpm.client: INFO